:root {
    --main-color: hsl(174, 85%, 43%);
    --secondary-color :hsl(200, 32%, 25%);
    --section-padding:3.75rem;
    --section-background:hsl(0, 0%, 96%);
    --main-duration : 0.3s;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: 'League Spartan', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
html {
    scroll-behavior: smooth;
}
.container {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    margin-left: auto;
    margin-right: auto;
}
/*small*/
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/*medium*/
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/*large*/
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
.special-heading {
    color: hsl(0, 0%, 92%);
    font-size: 6.25rem;
    text-align: center;
    font-weight: 800;
    letter-spacing: -0.1875rem;
    margin: 0;
}
.special-heading + p {
    margin: -1.875rem 0 0;
    font-size: 1.25rem;
    text-align: center;
    color: hsl(300, 1%, 47%);
}
@media (max-width : 767px) {
    .special-heading {
        font-size: 3.75rem;
    }
    .special-heading + p {
        margin-top: -1.25rem;
    }
}
.header {
    padding: 1.25rem;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo {
    width: 3.75rem;
}
.header .links {
    position: relative;
}
.header .links:hover .icon span:nth-child(2) {
    width: 100%;
}
.header .links .icon {
    width: 1.875rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header .links .icon span {
    background-color:hsl(0, 0%, 20%) ;
    margin-bottom: 0.3125rem;
    height: 0.125rem;
}
.header .links .icon span:first-child {
    width: 100%;
}
.header .links .icon span:nth-child(2) {
    width: 60%;
    transition: var(--main-duration);
}
.header .links .icon span:last-child {
    width: 100%;
}
.header .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: hsl(0, 0%, 96%);
    position: absolute;
    right: 0;
    min-width: 12.5rem;
    top:calc(100% + 0.9375rem);
    display: none;
    z-index: 1;
}
.header .links ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent hsl(0, 0%, 96%) transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}
.header .links:hover ul {
    display: block;
}
.header .links ul li a {
    display: block;
    padding: 0.9375rem;
    text-decoration: none;
    color: hsl(0, 0%, 20%);
    transition: var(--main-duration);
}
.header .links ul li a:hover {
    padding-left: 1.5625rem;
}
.header .links ul li:not(:last-child) a {
    border-bottom: 0.0625rem solid hsl(0, 0%, 87%);
}
.landing {
    background-image: url(../images/landing.jpg);
    background-size: cover;
    height:calc(100vh - 4rem);
    position: relative;
}
.landing .intro-text {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 20rem;
    max-width: 100%;
  }
  .landing .intro-text h1 {
    margin: 0;
    font-weight: bold;
    font-size: 3.125rem;
    color: var(--main-color);
}
.landing .intro-text p {
    font-size: 1.1875rem;
    line-height: 1.8;
}
.features {
    padding-top: var(--section-padding) ;
    padding-bottom: var(--section-padding) ;
    background-color: var(--section-background);
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
    grid-gap:1.25rem;
}
.features .feat {
    padding: 1.25rem;
    text-align: center;
}
.features .feat i {
    color: var(--main-color);
}
.features .feat h3 {
    font-weight: 800;
    margin: 1.875rem;
}
.features .feat p {
    line-height: 1.8;
    color: hsl(0, 0%, 47%);
    font-size: 1.0625rem;
}
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
    grid-gap:1.875rem;
    margin-top: 6.25rem;
}
.services .services-content .srv {
    display: flex;
    margin-bottom: 2.5rem;
}
@media (max-width: 767px) {
    .services .services-content .srv {
        flex-direction: column;
        text-align: center;
    }
}
.services .services-content .srv i {
    color: var(--main-color);
    flex-basis: 3.75rem;
}
.services .services-content .srv .text {
    flex: 1;
}
.services .services-content .srv .text h3 {
    margin: 0 0 1.25rem;
}
.services .services-content .srv .text p {
    color: hsl(0, 0%, 27%);
    font-weight: 300;
    line-height: 1.6;
}
.services .services-content .image {
    text-align: center;
    position: relative;
}
.services .services-content .image::before { 
    content: "";
    background-color: var(--secondary-color);
    width: 6.25rem;
    height: calc(100% + 6.25rem);
    top: -3.125rem;
    position: absolute;
    right: 0;
    z-index: -1;
}
.services .services-content .image img {
    width: 16.25rem;
}
@media (max-width: 1199px) {
    .image-column {
        display: none;
    }
}
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.portfolio .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
    grid-gap:1.875rem;
    margin-top: 6.25rem;
}
.portfolio .card {
    background-color: hsl(0, 0%, 100%);
}
.portfolio .card img {
    max-width: 100%;
}
.portfolio .card .info {
    padding: 1.25rem;
}
.portfolio .card .info h3 {
    margin: 0;
}
.portfolio .card .info p {
    color: #777;
    line-height: 1.6;
    margin-bottom: 0;
}
.about {
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding) + 3.75rem);
}
.about-content {
    margin-top: 6.25rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (max-width: 991px) {
    .about-content {
        flex-direction: column;
        text-align: center;
    }
}
.about .about-content .image {
    position: relative;
    width: 15.625rem;
    height: 23.4375rem;
}
@media (max-width: 991px) {
    .about .about-content .image {
        margin: 0 auto 3.75rem;
    }
}
.about .about-content .image img {
    max-width: 100%;
}
.about .about-content .image::before {
    content: "";
    position: absolute;
    background-color: #ebeceb;
    width: 6.25rem;
    height: calc(100% + 5rem);
    top: -2.5rem;
    left: -1.25rem;
    z-index: -1;
}
.about .about-content .image::after {
    content: "";
    top: -2.5rem;
    position: absolute;
    width: 7.5rem;
    height: 18.75rem;
    border-left: 5rem solid var(--main-color) ;
    border-bottom: 5rem solid var(--main-color);
    z-index: -1;
    right: -9.375rem;
}
@media (max-width: 991px) {
    .about .about-content .image::before,
    .about .about-content .image::after {
        display: none;
    }
}
.about .about-content .text {
    flex-basis: calc(100% - 31.25rem);
}
.about .about-content .text p:first-of-type {
    font-weight: 800;
    line-height: 2;
    margin-bottom: 3.125rem;
}
.about .about-content .text hr {
    width: 50%;
    display: inline-block;
    border-color: var(--main-color);
}
.about .about-content .text p:last-of-type {
    line-height: 2;
    color: hsl(0, 0%, 47%);
}
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.contact .info {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
}
.contact .info .lable {
    font-size: 2.1875rem;
    font-weight: 800;
    color: var(--secondary-color);
    letter-spacing: -0.125rem;
    margin-bottom: 1rem;
}
.contact .info .link {
    display: block;
    font-size: 2.1875rem;
    color: var(--main-color);
    text-decoration: none;
}
.contact .info .social {
    display: flex;
    justify-content: center;
    margin-top: 1.25rem;
    font-size: 1rem;
}
.contact .info .social i {
    margin-left: 0.625rem;
    color: var(--secondary-color);
}
@media (max-width: 767px) {
    .contact .info .link,
    .contact .info .lable {
        font-size: 1.5625rem;
    }
}
.footer {
    background-color: var(--secondary-color);
    color: hsl(0, 0%, 100%);
    padding: 1.875rem 0.625rem;
    text-align: center;
    font-size: 1.125rem;
}
.footer span {
    font-weight: 800;
    color: var(--main-color);
}










